.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* add this to allow absolute positioning inside */
}

.BrandHeading {
  color: gray;
  margin: 10px;
}

.BrandItem {
  color: gray;
  display: flex;
  gap: 30px;
}

.BrandInput[type="checkbox"] {
  accent-color: black;
}
