* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  font-family: sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

.App {
  width: 100vw;
}

.product-container {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  margin-top: 100px;
}

.product-list {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  row-gap: 30px;
}
